*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

img {
	vertical-align: middle;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

q {
	quotes: '"' '"';
}

body {
	color: #393327;
	font-family: "Yu Mincho Medium", "游明朝", "Yu Mincho", "YuMincho", "Noto Serif JP", serif;
	font-size: 16px;
	font-weight: 400;
}

.l-header {
	background-color: #ffffff;
	padding-bottom: 6px;
	padding-top: 7px;
	position: sticky;
}

.l-header__inner {
	padding-inline: 20px;
}

.l-header__sp {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.l-header__logo img {
	flex-shrink: 0;
	height: 54.702px;
	width: 76px;
}

.l-header__container {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 21px;
}

.l-header__button {
	background: linear-gradient(259deg, #8b6c3a 21.4%, #b19464 58.78%, #8b6c3a 96.8%);
	border-radius: 2px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2.8px;
	line-height: 1.4;
	margin-left: 45px;
	padding: 9px 27px;
}

.l-header__drawer-icon {
	flex-shrink: 0;
	height: 21px;
	position: relative;
	width: 28px;
}

.l-header__drawer-icon.is-checked .l-header__drawer-bar:nth-of-type(1) {
	top: 10px;
	transform: rotate(45deg);
}

.l-header__drawer-icon.is-checked .l-header__drawer-bar:nth-of-type(2) {
	display: none;
}

.l-header__drawer-icon.is-checked .l-header__drawer-bar:nth-of-type(3) {
	top: 10px;
	transform: rotate(-45deg);
	width: 28px;
}

.l-header__drawer-bar {
	background-color: #393327;
	height: 1px;
	left: 0;
	position: absolute;
	transition: all 0.3s ease;
}

.l-header__drawer-bar:nth-of-type(1) {
	top: 0;
	width: 28px;
}

.l-header__drawer-bar:nth-of-type(2) {
	top: 10px;
	width: 22px;
}

.l-header__drawer-bar:nth-of-type(3) {
	bottom: 0;
	width: 15px;
}

.l-header__pc {
	display: none;
}

.l-header__pc-container {
	display: flex;
	flex-direction: row;
	gap: 32px;
}

.l-header__pc-link {
	font-family: "Lora", serif;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1.5px;
	line-height: 16px;
}

.l-header__drawer-content {
	background: rgba(140, 109, 59, 0.7);
	flex: 1;
	height: 602px;
	position: fixed;
	transform: translateX(100%);
	transition: transform 0.3s linear;
	width: 100%;
	z-index: 500;
}

.l-header__drawer-content.is-checked {
	transform: translateX(0);
}

.l-header__drawer-container {
	background-color: #ffffff;
	flex-shrink: 0;
	padding-bottom: 90px;
	padding-top: 56px;
	position: fixed;
	right: 0;
	width: 250px;
	z-index: 500;
}

.l-header__menu {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding-bottom: 56px;
}

.l-header__menu-link {
	font-family: "Lora", serif;
	letter-spacing: 1.6px;
	line-height: 1.5;
}

.c-title {
	text-align: center;
}

.c-title__main {
	font-family: "Lora", serif;
	font-size: 28px;
	letter-spacing: 1.4px;
	line-height: 1.5;
}

.c-title__sub {
	font-size: 14px;
	letter-spacing: 1.4px;
	line-height: 1.5;
}

.c-sns {
	display: flex;
	flex-direction: row;
	gap: 24px;
	justify-content: center;
}

.c-sns__link {
	align-items: center;
	background-color: #393327;
	border-radius: 50%;
	color: #ffffff;
	display: flex;
	flex-shrink: 0;
	font-size: 20px;
	height: 40px;
	justify-content: center;
	width: 40px;
}

.c-feature__body {
	padding-top: 21px;
}

.c-feature__title {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.9px;
	line-height: 1.8;
	margin-left: 12px;
	padding-left: 10px;
	position: relative;
}

.c-feature__title::before {
	background: #393327;
	content: "";
	height: 65px;
	left: -12px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
}

.c-feature__text {
	letter-spacing: 0.32px;
	line-height: 1.8;
	padding-top: 12px;
}

.p-mv {
	position: relative;
}

.p-mv__content {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 13px;
	justify-content: center;
	left: 50%;
	position: absolute;
	top: 40px;
	transform: translateX(-50%);
	width: 100%;
}

.p-mv__content-main {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 2.4px;
	line-height: 1.47;
	text-align: center;
}

.p-mv__content-main--medium {
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 2.2px;
	line-height: 36px;
}

.p-mv__content-main--small {
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 36px;
}

.p-mv__content-sub {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.5;
	padding-right: 11px;
}

.p-mv__image img {
	width: 100%;
}

.p-voice {
	padding-bottom: 40px;
	padding-top: 56px;
}

.p-voice__top-text {
	color: #8b6c3a;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.5;
	text-align: center;
}

.p-voice__cards {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-top: 40px;
}

.p-voice__card-top {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.9px;
	line-height: 1.5;
	padding-top: 23px;
}

.p-voice__card-content {
	font-weight: 400;
	letter-spacing: 0.32px;
	line-height: 1.8;
	padding-top: 10px;
}

.p-voice__card-personal {
	padding-top: 12px;
}

.p-voice__card-personal-text {
	font-size: 14px;
	letter-spacing: 0.7px;
	line-height: 1.5;
}

.p-profile {
	padding-bottom: 80px;
	padding-top: 56px;
}

.p-profile__body {
	padding-bottom: 47px;
	padding-top: 40px;
}

.p-profile__content-top {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 24px;
	padding-top: 32px;
}

.p-profile__content-top-name {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 2.4px;
	line-height: 1;
}

.p-profile__content-text {
	letter-spacing: 0.32px;
	line-height: 1.8;
}

.p-profile__message {
	background: #fff;
	border: 1px solid #8b6c3a;
	padding: 24px 20px;
	text-align: center;
}

.p-profile__message-title {
	color: #8b6c3a;
	font-family: "Allura", serif;
	font-size: 40px;
	letter-spacing: 4px;
	line-height: 1;
}

.p-profile__message-content {
	letter-spacing: 0.32px;
	line-height: 1.8;
	padding-top: 16px;
	text-align: justify;
}

.p-depressed {
	background-color: #fafafa;
	position: relative;
}

.p-depressed__image {
	text-align: right;
}

.p-depressed__body {
	padding-bottom: 60px;
	padding-inline: 20px;
	padding-top: 40px;
}

.p-depressed__body-title {
	color: #1a1a1a;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 1.5;
}

.p-depressed__contents {
	display: flex;
	flex-direction: column;
	gap: 7px;
	padding-top: 25px;
}

.p-depressed__content {
	letter-spacing: 0.32px;
	line-height: 1.5;
	min-height: 48px;
	padding-left: 32px;
	position: relative;
}

.p-depressed__content::after {
	background: url("../img/check.png") no-repeat center center/cover;
	content: "";
	flex-shrink: 0;
	height: 24px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
}

.p-feature {
	padding-bottom: 56px;
	padding-top: 48px;
}

.p-feature__title {
	color: #8b6c3a;
	font-weight: 600;
	letter-spacing: 0.8px;
	line-height: 27px;
	padding-bottom: 22px;
	text-align: center;
}

.p-feature__arrow-container {
	display: flex;
	justify-content: center;
	padding-bottom: 37px;
}

.p-feature__arrow {
	border-bottom: 1px solid #8b6c3a;
	border-left: 1px solid #8b6c3a;
	flex-shrink: 0;
	height: 30px;
	transform: rotate(-45deg);
	width: 30px;
}

.p-feature__contents {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-top: 40px;
}

.u-indent {
	padding-left: 0.7em;
	text-indent: -1em;
}

.u-inner {
	padding-inline: 20px;
}

@media screen and (min-width: 550px) {

.p-mv__content {
	top: 70px;
}

.p-mv__content-main {
	font-size: 32px;
}

.p-mv__content-main--medium {
	font-size: 26px;
}

}

@media screen and (min-width: 768px) {

.l-header {
	padding-bottom: 13px;
	padding-top: 13px;
}

.l-header__logo {
	padding-left: 22px;
	padding-right: 23px;
}

.c-title__main {
	font-size: 56px;
	letter-spacing: 4.48px;
	line-height: 1;
}

.c-title__sub {
	font-size: 16px;
	letter-spacing: 1.6px;
	line-height: 1;
	padding-top: 40px;
}

.c-feature {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: center;
	padding-top: 0;
}

.c-feature__image img {
	max-width: 450px;
	width: 31.25vw;
}

.c-feature__body {
	padding-top: 0;
	width: 540px;
}

.p-mv__content {
	left: 65px;
	text-align: left;
	top: 150px;
	transform: translateX(0);
	width: auto;
}

.p-mv__content-main {
	text-align: left;
}

.p-mv__content-main--small {
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 3.2px;
	line-height: 60px;
}

.p-voice {
	padding-top: 96px;
}

.p-voice__top-text {
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 3.2px;
	line-height: 1.5;
}

.p-voice__cards {
	gap: 80px;
	padding-top: 78px;
}

.p-voice__card {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 40px;
	justify-content: center;
	margin: 0 auto;
	max-width: 1440px;
}

.p-voice__card-reverse {
	display: flex;
	flex-direction: row-reverse;
	gap: 40px;
}

.p-voice__card-body {
	max-width: 400px;
}

.p-voice__card-top {
	font-size: 24px;
	letter-spacing: 2.4px;
	line-height: 1.5;
	padding-top: 0;
}

.p-voice__card-content {
	font-size: 16px;
	letter-spacing: 0.8px;
	line-height: 2;
	padding-top: 20px;
}

.p-voice__card-personal {
	text-align: right;
}

.p-voice__card-personal-text {
	font-size: 16px;
	letter-spacing: 0.8px;
}

.p-profile {
	padding-bottom: 92px;
	padding-top: 100px;
}

.p-profile__body {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 50px;
	margin: 0 auto;
	max-width: 878px;
	padding-bottom: 83px;
	padding-bottom: 78px;
	padding-top: 72px;
}

.p-profile__content-top {
	padding-bottom: 40px;
	padding-top: 0;
}

.p-profile__content-text {
	letter-spacing: 0.8px;
	line-height: 2;
}

.p-profile__message {
	margin: 0 auto;
	max-width: 878px;
	padding: 64px 88px 64px 90px;
}

.p-profile__message-title {
	font-size: 56px;
	letter-spacing: 5.6px;
	line-height: 40px;
}

.p-profile__message-content {
	letter-spacing: 1.6px;
	line-height: 2;
	padding-top: 40px;
}

.p-depressed__image img {
	max-height: 481px;
	max-width: 797px;
}

.p-depressed__body {
	padding-bottom: 0;
	padding-left: 40px;
	padding-right: 0;
}

.p-depressed__body-title {
	font-size: 24px;
	letter-spacing: 1.2px;
}

.p-feature {
	padding-bottom: 96px;
	padding-top: 96px;
}

.p-feature__title {
	font-size: 32px;
	letter-spacing: 3.2px;
	line-height: 2;
}

.p-feature__arrow-container {
	padding-bottom: 84px;
}

.p-feature__arrow {
	height: 56px;
	width: 56px;
}

.p-feature__contents {
	gap: 80px;
	margin: 0 auto;
	max-width: 1059px;
	padding-top: 80px;
}

.u-pc__hidden {
	display: none;
}

.u-inner {
	padding-inline: 40px;
}

}

@media screen and (min-width: 768px) and (min-width: 1230px) {

.p-depressed__image img {
	height: 481px;
}

}

@media screen and (min-width: 950px) {

.l-header__sp {
	display: none;
}

.l-header__pc {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.c-feature {
	gap: 70px;
}

.p-mv__content-main {
	font-size: 40px;
	letter-spacing: 4px;
}

.p-mv__content-main--medium {
	font-size: 32px;
	letter-spacing: 3.2px;
	line-height: 60px;
}

.p-mv__content-sub {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.5;
	padding-right: 22px;
	padding-top: 15px;
}

.p-voice__card {
	gap: 90px;
}

.p-voice__card-reverse {
	gap: 90px;
}

.p-voice__card-body {
	max-width: 517px;
}

.p-profile__body {
	gap: 80px;
}

}

@media screen and (min-width: 995px) {

.p-depressed__inner {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
}

.p-depressed__body {
	padding-top: 0;
}

}

@media screen and (min-width: 1230px) {

.l-header__logo img {
	height: 93px;
	width: 130px;
}

.l-header__button {
	font-size: 16px;
	letter-spacing: 3.2px;
	margin-left: 56px;
	padding: 15px 38px 13px 39px;
}

.l-header__pc-link {
	font-size: 15px;
}

.c-feature__title::before {
	height: 100px;
}

.c-feature__title {
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 2.8px;
	line-height: 50px;
}

.c-feature__text {
	font-size: 16px;
	letter-spacing: 0.8px;
	line-height: 2;
	padding-top: 32px;
}

.p-mv__content {
	left: 191px;
	top: 224px;
}

}

