*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

q {
	quotes: '"' '"';
}

body {
	color: #393327;
	font-family: "Yu Mincho Medium", "游明朝", "Yu Mincho", "YuMincho", "Noto Serif JP", serif;
	font-size: 16px;
	font-weight: 400;
}

.l-header {
	background-color: #ffffff;
	padding-bottom: 6px;
	padding-top: 7px;
	position: sticky;
}

.l-header__inner {
	padding-inline: 20px;
}

.l-header__sp {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.l-header__logo img {
	flex-shrink: 0;
	height: 54.702px;
	width: 76px;
}

.l-header__container {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 21px;
}

.l-header__button {
	background: linear-gradient(259deg, #8b6c3a 21.4%, #b19464 58.78%, #8b6c3a 96.8%);
	border-radius: 2px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2.8px;
	line-height: 1.4;
	padding: 12px 28px;
}

.l-header__drawer-icon {
	flex-shrink: 0;
	height: 21px;
	position: relative;
	width: 28px;
}

.l-header__drawer-icon.is-checked .l-header__drawer-bar:nth-of-type(1) {
	top: 9px;
	transform: rotate(45deg);
}

.l-header__drawer-icon.is-checked .l-header__drawer-bar:nth-of-type(2) {
	display: none;
}

.l-header__drawer-icon.is-checked .l-header__drawer-bar:nth-of-type(3) {
	top: 9px;
	transform: rotate(-45deg);
	width: 28px;
}

.l-header__drawer-bar {
	background-color: #393327;
	height: 1px;
	left: 0;
	position: absolute;
	transition: all 0.3s ease;
}

.l-header__drawer-bar:nth-of-type(1) {
	top: 0;
	width: 28px;
}

.l-header__drawer-bar:nth-of-type(2) {
	top: 9px;
	width: 22px;
}

.l-header__drawer-bar:nth-of-type(3) {
	bottom: 0;
	width: 15px;
}

.l-header__pc {
	display: none;
}

.l-header__pc-container {
	display: flex;
	flex-direction: row;
	gap: 32px;
}

.l-header__pc-link {
	font-family: "Lora", serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1.5px;
	line-height: 1.6;
}

.l-header__drawer-content {
	background: rgba(140, 109, 59, 0.7);
	flex: 1;
	height: 100%;
	height: 602px;
	position: fixed;
	transform: translateX(100%);
	transition: transform 0.3s linear;
	width: 100%;
}

.l-header__drawer-content.is-checked {
	transform: translateX(0);
}

.l-header__drawer-container {
	background-color: #ffffff;
	flex-shrink: 0;
	padding-bottom: 90px;
	padding-top: 56px;
	position: fixed;
	right: 0;
	width: 250px;
	z-index: 500;
}

.l-header__menu {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.l-header__menu-link {
	font-family: "Lora", serif;
	letter-spacing: 1.6px;
	line-height: 1.5;
}

.l-header__sns {
	display: flex;
	flex-direction: row;
	gap: 24px;
	justify-content: center;
	padding-top: 56px;
}

.l-header__sns-link {
	align-items: center;
	background-color: #393327;
	border-radius: 50%;
	color: #ffffff;
	display: flex;
	flex-shrink: 0;
	font-size: 20px;
	height: 40px;
	justify-content: center;
	width: 40px;
}

@media screen and (min-width: 768px) {

.l-header {
	padding-bottom: 13px;
	padding-top: 13px;
}

.l-header__sp {
	display: none;
}

.l-header__logo {
	padding-left: 23px;
	padding-right: 24px;
}

.l-header__button {
	font-size: 16px;
	letter-spacing: 3.2px;
	margin-left: 57px;
}

.l-header__pc {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

}

