@use "../global" as global;

.l-header {
  padding-top: 7px;
  padding-bottom: 6px;
  background-color: #ffffff;
  position: sticky;

  @include global.mq("md") {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.l-header__inner {
  padding-inline: 20px;
}

.l-header__sp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include global.mq("lg") {
    display: none;
  }
}

.l-header__logo {
  @include global.mq("md") {
    padding-left: 22px;
    padding-right: 23px;
  }
  img {
    width: 76px;
    height: 54.702px;
    flex-shrink: 0;
    @include global.mq("xl") {
      width: 130px;
      height: 93px;
    }
  }
}

.l-header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21px;
}

.l-header__button {
  padding: 9px 27px;
  border-radius: 2px;
  background: linear-gradient(
    259deg,
    #8b6c3a 21.4%,
    #b19464 58.78%,
    #8b6c3a 96.8%
  );
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 2.8px;
  color: #ffffff;
  margin-left: 45px;

  @include global.mq("xl") {
    margin-left: 56px;
    font-size: 16px;
    letter-spacing: 3.2px;
    padding: 15px 38px 13px 39px;
  }
}

.l-header__drawer-icon {
  width: 28px;
  height: 21px;
  flex-shrink: 0;
  position: relative;

  &.is-checked {
    .l-header__drawer-bar {
      &:nth-of-type(1) {
        transform: rotate(45deg);
        top: 10px;
      }

      &:nth-of-type(2) {
        display: none;
      }

      &:nth-of-type(3) {
        width: 28px;
        top: 10px;
        transform: rotate(-45deg);
      }
    }
  }
}

.l-header__drawer-bar {
  position: absolute;
  height: 1px;
  background-color: global.$text-color;
  transition: all 0.3s ease;
  left: 0;

  &:nth-of-type(1) {
    width: 28px;
    top: 0;
  }

  &:nth-of-type(2) {
    width: 22px;
    top: 10px;
  }

  &:nth-of-type(3) {
    width: 15px;
    bottom: 0;
  }
}

.l-header__pc {
  display: none;
  @include global.mq("lg") {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.l-header__pc-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.l-header__pc-link {
  font-family: global.$ff-en;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.5px;
  @include global.mq("xl") {
    font-size: 15px;
  }
}

.l-header__drawer-content {
  transform: translateX(100%);
  transition: transform 0.3s linear;
  position: fixed;
  flex: 1;
  width: 100%;
  background: rgba(140, 109, 59, 0.7);
  height: 602px;
  z-index: 500;

  &.is-checked {
    transform: translateX(0);
  }
}

.l-header__drawer-container {
  padding-top: 56px;
  padding-bottom: 90px;
  position: fixed;
  background-color: #ffffff;
  width: 250px;
  flex-shrink: 0;
  right: 0;
  z-index: 500;
}

.l-header__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-bottom: 56px;
}

.l-header__menu-link {
  line-height: 1.5;
  letter-spacing: 1.6px;
  font-family: global.$ff-en;
}


