@use "../global/" as global;

.c-sns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;

}

.c-sns__link {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: global.$text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  transition: opacity 0.3s ease;
  &:hover{
    opacity: 0.7;
  }
}
